<a href="content/{{getHtmlPath this.path}}" class="update-card shown">
	<div class="card__header">
		<div class="card__icon">
			{{{typeIcon this.type}}}
		</div>
		<p class="pretty-date">{{this.prettyDate}}</p>
	</div>
	<div class="card__image-holder">
		
	</div>
	<div class="card__footer">
		<div class="card__info">
			<h5>{{this.title}}</h5>
			<p>{{this.description}}</p>	
		</div>
	</div>
	
</a>